body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

.row {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

line {
    display: block;
}

.container {
    padding: 2%;
}

.c1 {
    width: 100%;
}

.c2 {
    text-align: center;
    float: left;
    height: auto;
    width: 50%;
    text-transform: uppercase;
    font-size: xx-large;
    padding: 4%;
}

.c3 {
    width: 33.33%;
}

.c4 {
    padding: 2%;
    width: 24%;
}

.c5 {
    text-align: center;
    float: left;
    height: auto;
    text-transform: uppercase;
    font-size: large;
    width: 20%;
    vertical-align: center;
    box-align: center;
    padding: 2%;
}

.c6 {
    width: 10%;
}

.darkred {
    background-color: darkred;
}

.green {
    background-color: green;
}

.cyan {
    background-color: cyan;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.grey {
    background-color: grey;
}

.red {
    background-color: red;
}

.brown {
    background-color: brown;
}

.violet {
    background-color: blueviolet;
}

.txt {
    color: white;
}

button {
    cursor: pointer;
    border: none;
}

button:hover,
small:hover,
input[type="button"]:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

small {
    padding: 5%;
    border-radius: 100%;
    background-color: aquamarine;
    cursor: pointer;
    font-size: large;
}

.noir {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 9998;
    opacity: 0.75;
}

.carree {
    z-index: 9999;
    position: fixed;
    background-color: whitesmoke;
    margin: 10%;
    width: 80%;
    height: 500px;
}

.fermer {
    font-size: xx-large;
    color: white;
    float: right;
    padding: 0.5%;
    cursor: pointer;
}

.p {
    padding: 8%;
    font-size: xx-large;
}

.fermer:hover {
    background-color: red;
}

.border {
    border: solid 2px white;
}

input[type="button"] {
    cursor: pointer;
}

.bordr {
    border: 1px solid white;
}
.new-div{
    width: 500px;
    margin-left: 2%;
}
.darkbutton{
    text-align: center;
    float: left;
    height: auto;
    text-transform: uppercase;
    font-size: large;
    vertical-align: center;
    box-align: center;
    padding: 2%;
    
}
.darkmode{
    background-color: black;
}
.white{
    color: white;
}
.bouton-suivant{
    text-align: center;
    margin-right: 2%;
    float: right;
    height: auto;
    text-transform: uppercase;
    font-size: large;
    vertical-align: center;
    box-align: center;
    padding: 2%;
    text-decoration: none;
}
.div-bouton-suivant{
    width: 500px;
    margin-left: 846px;
}